*{margin:0;padding: 0}
.shop{
    margin: auto;
    width: 1200px;
}
header{
    height: 50px;
    border: 1px solid #ccc;
    line-height: 50px;    
    padding-left:20px  
}
header div{
    float: left;
    margin-right:20px;
    cursor: pointer;
  
}
main{
  overflow: hidden;
  margin-top:20px;
}
main .bigbox{
    width: 220px;
    height: 364px;
    float: left;
    border: 1px solid #ccc;
    margin-right:25px;
    box-sizing: border-box;

}
main .bigbox:nth-child(5n){
        margin-right:0;
}
.bigbox:hover{
    border-color:  red
}

.pic img{
    width: 180px;
    height: 180px;
    padding-left: 23px
}
.name{
    text-align: center;
    padding: 25px ;
    text-align: center;
    height: 10px;
}
.prise{
    color: red;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px
}
.comment{
    height: 30px;
    border-top: 1px solid #ccc;
    display: flex
}
.comment div{

    flex: 1;
    float: left;
    text-align: center;
    line-height: 30px
}
.left{
    border-right: 1px solid #ccc
}