* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
header {
  background: salmon;
  padding: 3vw;
}
header .logo_box {
  height: 10vw;
  overflow: hidden;
  position: relative;
  color: #fff;
}
header .logo_box .logo {
  font-size: 80px;
  height: 10vw;
  line-height: 10vw;
  display: inline-block;
}
header .logo_box .tab {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #eee;
  height: 6vw;
  border-radius: 7px;
  font-size: 13px;
  line-height: 6vw;
  padding: 0 4vw;
}
header .logo_box .tab .lit {
  color: #333;
  font-size: 12px;
}
header .logo_box .tool_box {
  font-size: 5vw;
  margin: 6px 10px 0 0;
}
header .logo_box .tool_box .icon_user {
  margin: 0 2vw;
}
header nav {
  overflow: hidden;
}
header nav ul li {
  float: left;
  display: block;
  width: 10vw;
  text-align: center;
  margin: 1vw 4vw 1vw 0;
}
header nav ul li a {
  color: #fff;
}
header nav ul li:nth-child(7n) {
  margin-right: 0;
}
.banner {
  padding: 6vw;
  height: 60vw;
}
.banner .swiper-slide {
  height: 60vw;
  background: #fff;
  overflow: hidden;
}
.banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide p {
  position: relative;
  height: 10vw;
  line-height: 10vw;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(-100%);
  padding: 0 4vw;
}
.banner .swiper-pagination {
  text-align: right;
  color: #fff;
  padding-right: 5vw;
  box-sizing: border-box;
  font-size: 16px;
}
.banner .swiper-pagination span:nth-child(1) {
  font-size: 20px;
}
.list_box .list {
  border-bottom: 1px solid #ccc;
  display: flex;
  position: relative;
  width: 88vw;
  padding: 3vw;
  margin: auto;
  min-height: 20vw;
}
.list_box .list .textBox {
  flex: 1;
}
.list_box .list .textBox .commentBox {
  position: absolute;
  bottom: 3vw;
  left: 2vw;
  font-size: 13px;
}
.list_box .list .imgBox {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
}
.list_box .list .imgBox img {
  width: 100%;
  height: 100%;
}
